<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>What was done today</th>
        <th>Plan for tomorrow</th>
        <th>impediments</th>
        <th>Done</th>
        <th>Rally Updated?</th>
      </tr>
    </thead>
    <tbody>
      <% @status_users.each do |status_user| %>
        <tr>
          <td><%=status_user.user.name%></td>
          <td><%=simple_format(sanitize status_user.what_was_done_today, tags: %w(strong b em a))%></td>
          <td><%=simple_format(sanitize status_user.plan_for_tomorrow, tags:  %w(strong b em a)) %></td>
          <td><%=status_user.impediments%></td>
          <td><%=status_user.done == 1 ? "Yes" : "No"%></td>
          <td>Done</td>
        </tr>
        <% end %>
    </tbody>
  </table>
