<div class="clearfix">
  <% unless is_website_view %>
    <div class="">
      <p>
        Hello Everyone, <br/><br/>
        Following is our status for today:-<br/><br/>
      </p>
    </div>
  <% end %>
  <%#=render :partial => 'utility/risk_documents', :locals => {:risk_documents => risk_documents, :is_website_view => false }%>
  <table class="table table-striped"
         style="width: <%=is_website_view ? '100%' : '85%'%>;border: 1px solid black;border-collapse:collapse;font-size:13px;font-family: rial, Sans-Serif;overflow:auto;table-layout:fixed;text-align: center;height: 30px;margin-bottom: 30px;">
    <thead>
      <tr style="font-size:13px;background-color: rgb(153,153,153)">
        <th style="border: 1px solid black;text-align: center;height: 30px;width:15%;vertical-align:middle">Name</th>
        <th style="border: 1px solid black;text-align: center;height: 30px;width:34%;vertical-align:middle">What was done today</th>
        <th style="border: 1px solid black;text-align: center;height: 30px;width:34%;vertical-align:middle">Plan for tomorrow</th>
        <th style="border: 1px solid black;text-align: center;height: 30px;width:16%;vertical-align:middle">Impediments</th>
        <% if is_website_view %>
          <th style="border: 1px solid black;text-align: center;height: 30px;width:8%">Jira Updated</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% today_statuses.keys.each_with_index do |user, index| %>
      <% status = today_statuses[user] %>
      <tr style="font-size:13px;background-color:<%= index % 2 !=0 ? 'rgb(204,204,204)' : 'white' %>">
        <td class="small" style="word-wrap:break-word;border: 1px solid black;text-align: center;height: 30px;width: 15%;">
          <%=is_website_view ? (link_to user.name, edit_status_path(status.id)) : user.name%>
        </td>
        <td class="pivotal-column" style="word-wrap:break-word;border: 1px solid black;text-align:left;height:30px;padding-top:10px;padding-bottom:10px;width:34%">
          <% status.today_tasks.each do |task| %>
            <div style="margin: 10px 5px 5px 5px;">
              <strong><%=task.name%></strong>
              <%=formatted_description(task.description)%>
            </div>
          <% end %>
        </td>
        <td class="pivotal-column" style="word-wrap:break-word;border: 1px solid black;text-align:left;height:30px;padding-top:10px;padding-bottom:10px;width:34%">
          <% status.tomorrow_tasks.each do |task| %>
            <div style="margin: 10px 5px 5px 5px;">
              <strong><%=task.name%></strong>
              <%=formatted_description(task.description)%>
            </div>
          <% end %>
        </td>
        <td style="word-wrap:break-word;border: 1px solid black;text-align: center;height: 30px;width:16%">
          <%=status.impediments%>
        </td>
        <% if is_website_view %>
          <td style="word-wrap:break-word;border: 1px solid black;text-align: center;height: 30px;width:8%">
            <%=status.tracker_updated == true ? 'Done' : ''%>
          </td>
          <!--<td style="border: 1px solid black;text-align: center;height: 30px;">
            <%#=link_to "Delete", status_path(status), :method => :delete%>
          </td>-->
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% unless is_website_view %>
    <div class="">
      <p>
        <br/><br/>
          Regards,
        <br/>
        Prashant Sahni
      </p>
    </div>
  <% end %>
</div>
