<table class="table table-striped" style='border: 1px solid black; border-style: collapse;'>
    <thead>
      <tr>
        <th>Name</th>
        <th>What was done today</th>
        <th>Plan for tomorrow</th>
        <th>impediments</th>
        <th>Done</th>
        <th>Rally Updated?</th>
      </tr>
    </thead>
    <tbody>
      <%  @users_status.each do |users_status| %>
        <tr>
          <td class='small'><%=users_status.user.name%></td>
          <td class='what-was-done-today'><%=simple_format(sanitize users_status.what_was_done_today, tags: %w(strong b em a))%></td>
          <td class='plan-for-tomorrow'><%=simple_format(sanitize users_status.plan_for_tomorrow, tags:  %w(strong b em a)) %></td>
          <td class='impediments'><%=users_status.impediments%></td>
          <td class='small'><%=users_status.done == 1 ? "Yes" : "No"%></td>
          <td class'small'>Done</td>
        </tr>
        <% end %>
    </tbody>
  </table>
