<table class="table table-striped" style='border: 1px solid black; border-style: collapse;'>
    <thead>
      <tr>
        <th>Name</th>
        <th>What was done today</th>
        <th>Plan for tomorrow</th>
        <th>impediments</th>
        <th>Done</th>
        <th>Rally Updated?</th>
      </tr>
    </thead>
    <tbody>
      <% @today_statuses.each do |user, status| %>
        <tr>
          <td class='small'><%=user.name%></td>
            <td class="pivotal-column">
            <% status.today_tasks.each do |task| %>
              <strong><%=task.name%></strong>
              <%=formatted_description(task.description)%>
            <% end %>
          </td>
          <td class="pivotal-column">
            <% status.tomorrow_tasks.each do |task| %>
              <strong><%=task.name%></strong>
              <%=formatted_description(task.description)%>
            <% end %>
          </td>
          <td>
            <%=status.impediments%>
          </td>
          <td>
            <%=status.done == true ? 'Done' : ''%>
          </td>
          <td>
            <%=status.done == true ? 'Done' : ''%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
