<div class="task-fields">
  <div class="form-group">
    <label for="">Title</label>
    <%=form.text_field :name, :class => 'form-control' %>
    <span class='error'>
      <%=
        status.errors["#{ status_task_type }_tasks.name"][0] if status && status.errors["#{ status_task_type }_tasks.name"]
      %>
    </span>
  </div>
  <div class="form-group">
    <label for="">Description</label>
    <%=form.text_area  :description, :class => 'form-control description-field',
                                     :rows => 2 
    %>
    <span class='error'>
      <%=
          status.errors["#{ status_task_type }_tasks.description"][0] if status && status.errors["#{ status_task_type }_tasks.name"]
      %>
    </span>
  </div>
  <%=form.hidden_field :task_type, :value => Task::TASK_TYPES[status_task_type.to_sym]%>
</div>
<div class="remove-task">
  <%=form.hidden_field :_destroy%>
  <%=link_to 'Remove', '/', :class => 'remove-task-link' if enable_destroy%>
</div>
