<div class="template">
  <div class="row">
    <h2>Following people have updated status today <%=Date.today.strftime("%m/%b/%Y")%></h2>
    <div class="margin-div"></div>
    <% @status_users.each do |status_user| %>
      <div class="col-md-12">
        <a class='no-text-decor list-font' href="<%=status_path(status_user)%>"><%=status_user.user.name%></a>
      </div>
    <% end %>
  </div>
  <div class="margin-div"></div>
  <div class="row">
    <%=link_to "Add-Status", new_status_path, :class => 'no-text-decor' %>
        | 
    <%=link_to "See-Status-Report", status_report_status_index_path, :class => 'no-text-decor'%>
  </div>
</div>
