<div class="template">
  <div class="row">
    <div class="col-md-12">user: <%=@status.user.try(:email)%></div>
  </div>
  <div class="margin-div"></div>
  <div class="row">
      <div class="col-md-12">
        <strong class='big-font'>What was done today</strong>
      </div>
      <div class="col-md-12">
          <%=simple_format(sanitize @status.what_was_done_today, tags: %w(strong b em a))%>
      </div>
  </div>
  <div class="margin-div"></div>
  <div class="row">
    <div class="col-md-12">
      <strong class='big-font'>Plan for tomorrow</strong>
    </div>
    <div class="col-md-12">
      <%=simple_format(sanitize @status.plan_for_tomorrow, tags: %w(strong b em a)) %>
    </div>
  </div>
  <div class="margin-div"></div>
  <div class="row">
    <div class="col-md-12">
      <strong class='big-font'>Impediments</strong>
    </div>
    <div class="col-md-12">
      <%=@status.impediments%>
    </div>
  </div>
</div>
<div class="margin-div"></div>
<div class="">
  <%=link_to "Edit Status", edit_status_path(@status)%> | <%=link_to "See all Statuses", "/all_status"%>
</div>
